/* Styles for header and navigation */
header {
    background-color: #333;
    color: white;
    padding: 10px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
  }
  
  /* Styles for article */

/* Styles for table and fieldset */
table {
  width: 90%; /* Decreased width */
  margin: 0 auto; /* Center the table */
}

fieldset {
  margin-top: 10px; /* Decreased margin-top */
}

legend {
  font-weight: bold;
  font-size: 18px; /* Decreased font-size */
}

th, td {
  padding: 5px; /* Decreased padding */
  text-align: left;
  font-size: 14px; /* Decreased font-size */
}

  footer {
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 10px;
    position:static;
    bottom: 0;
    width: 100%;
  }
  